.cart-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.Cart__cartTotal {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.footer-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
